/* Set up some boxes to hold text */

.paragraph{
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    height: 100%
}

.title{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 20pt;
    font-variant: small-caps;
}

.img-thumbnail{
    height: 150px;
    width: 150px;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.comp_img{
    height:200px;
    width: 300px;
    margin-right: 10px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.vis_box{
    margin-top: 50px;
    margin-right: 10px;
    background: whitesmoke;
    width: 80%;
    height: 100%
}

.landing_box{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 20px;
    background: whitesmoke;
    width: 100%;
    height: 10%
}

.landing_vis{
    height: 200px;
    width: 400pxpx;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

.display_vis{
    margin-top: 10px;
    margin-left: 50px;
    height: 80%;
    width: 100%
}

.resize{
    width: 50%;
    height: 50%;
}

.analysis{
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 8%;
    margin-bottom: 2%;
    width: 100%;
}

.card_left{
    margin-top: 20px;
    margin-inline: 8%;
}

.card_right{
    margin-top: 50px;
    background: whitesmoke;
    width: 400px;
    text-align: center;
}

.data_box{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 20px;
    background: whitesmoke;
    width: 950px;
}

.bottom_nav{
    background: whitesmoke;
    margin-top: 20px;
    border-radius: 1%;
}